<div class="tabs d-flex p-2 rounded gap-2">
    <div routerLink="bookmarks" routerLinkActive="selected" class="tab bookmarks-tab">
        <div class="tab-title p-3 display-6">
            <i class="fa-regular fa-bookmark"></i>
        </div>
    </div>

    <div routerLink="todos" routerLinkActive="selected" class="tab todos-tab">
        <div class="tab-title p-3 display-6">
            <i class="fa-solid fa-check-double"></i>
        </div>
    </div>

    <div routerLink="notes" routerLinkActive="selected" class="tab notes-tab">
        <div class="tab-title p-3 display-6">
            <i class="fa-regular fa-note-sticky"></i>
        </div>
    </div>
</div>